
.div{
    border-bottom: thin solid #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2{
    display: inline-block;
    color: blue;
    margin: 1vw;
}
.button{
}